<!-- _partial/footer -->
<p>
  <span class="text-muted">Powered by:
    <a class="text-muted" href="http://hexo.io/" target="_blank">Hexo</a>,
    <a class="text-muted" href="http://github.com/hmhv/hexo-theme-hmhv/" target="_blank">hmhv</a>
    &amp;
    <a class="text-muted" href="http://bootswatch.com/" target="_blank">Bootswatch <small>v3.2</small></a>
  </span>
</p>
