<%#
  footer.ejs
-%>
<footer class="ftr site">
  <div class="ftr-row">
    <div class="ftr-cr">
      <div>Powered by <a href="https://hexo.io/" target="_blank" rel="noopener">Hexo</a></div>
      <div>&copy; 2015 - <%= new Date().getFullYear() %>&nbsp;&nbsp;<%= theme.site.brand %></div>
    </div>
  </div>
</footer>
